body{
    background:rgb(184, 182, 182);
}
h2,h3,h4,h5,h6{
    color:rgb(182, 182, 26);
}
h1{
    text-align: center;
    color:rgb(182, 182, 26);
    widows: 1000px;
    height: 70px;
    background:rgb(34, 116, 192);
    font-size:50px;
}

.impar{
    background: rgb(131, 46, 156);
}
.par{
    background:rgb(34, 116, 192);
}

.centrado{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#horario{
    color:white;
}

ul ul {
    list-style-type: lower-roman;;
}
ul {
  list-style-type: upper-roman;
}
